output.logstash:
  hosts: ["{{ groups['elastic'][0] }}:5044"]
  ssl:
    enabled: true
    certificate_authorities: ["/opt/filebeat/logstash.crt"]

filebeat.config.inputs:
  enabled: true
  path: /var/filebeat/*.filebeat.yml
  reload.enabled: true
  reload.period: 10s

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0640

filebeat.inputs:
  - type: filestream
    id: filebeat
    enabled: true
    paths:
      - /opt/filebeat/filebeat.log
      - /opt/filebeat/logs/*.ndjson
