[vars]
elasticsearch_device={{ terraform_output.outputs.elasticsearch_device.value }}
prometheus_device={{ terraform_output.outputs.prometheus_device.value }}
loadbalancer_private_ip={{ terraform_output.outputs.loadbalancer_private_ip.value }}