deployment="{{ terraform_deployment }}"
external_network_id="{{ terraform_external_network_id }}"
floating_ip="{{ terraform_floating_ip }}"
stack_volume_id="{{ terraform_stack_volume_id }}"
environment="{{ env }}"