deployment="{{ terraform_deployment }}"
external_network_id="{{ terraform_external_network_id }}"
floating_ip="{{ terraform_floating_ip }}"
elasticsearch_volume_id="{{ terraform_elasticsearch_volume_id }}"