[Unit]
Description=Systemd Exporter Service
Documentation=https://github.com/prometheus-community/systemd_exporter
After=network-online.target

[Service]
User=systemd-exporter
Group=systemd-exporter
Restart=on-failure
ExecStart=/opt/systemd-exporter/systemd_exporter --web.telemetry-path="/"
StandardOutput=append:/var/log/systemd-exporter/systemd-exporter.log
StandardError=append:/var/log/systemd-exporter/systemd-exporter.log

[Install]
WantedBy=multi-user.target
