[Unit]
Description=Rabbit MQ consumer - Runs aquilon commands based on rabbitmq messages

[Service]
ExecStart=/etc/openstack-utils/rabbit-consumer/consumer.py
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/etc/openstack-utils/
