[FORMAT]
# Black will enforce 88 chars on Python code
# this will enforce 120 chars on docs / comments
max-line-length=120

# Disable various warnings:
# C0114: Missing module string - we don't need module strings for the small repo
# W0212: Access to protected members - Don't know how to fix this :)

disable=C0114, W0212
