global:
  scrape_interval:     15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'chatops-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
    scheme: https
    basic_auth:
      username: "{{ prometheus_username }}"
      password: "{{ prometheus_password }}"
    tls_config:
      ca_file: /opt/prometheus/prometheus.crt

  - job_name: 'alertmanager'
    static_configs:
      - targets: ['localhost:9093']
    basic_auth:
      username: "{{ alertmanager_username }}"
      password: "{{ alertmanager_password }}"
    scheme: https
    tls_config:
      ca_file: /opt/prometheus/alertmanager.crt

  - job_name: 'load-balancer-metrics'
    static_configs:
      - targets: ['{{ ansible_local.terraform.vars.loadbalancer_private_ip }}:8405']

  - job_name: 'chatops_cadvisor'
    static_configs:
      {% for host in (groups.chatops | map('extract', hostvars, 'ansible_ssh_host')) %}
      - targets: ['{{ host }}:8080']
      {% endfor %}

  - job_name: 'systemd_exporter'
    static_configs:
      {% for host in (groups.private | map('extract', hostvars, 'ansible_ssh_host')) %}
      - targets: ['{{ host }}:9558']
      {% endfor %}
      - targets: ['{{ ansible_local.terraform.vars.loadbalancer_private_ip }}:9558']

  - job_name: 'node_exporter'
    static_configs:
      {% for host in (groups.private | map('extract', hostvars, 'ansible_ssh_host')) %}
      - targets: ['{{ host }}:9100']
      {% endfor %}
      - targets: ['{{ ansible_local.terraform.vars.loadbalancer_private_ip }}:9100']

rule_files:
  - '/opt/prometheus/rules.yml'

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          - 'localhost:9093'
      scheme: https
      basic_auth:
        username: "{{ alertmanager_username }}"
        password: "{{ alertmanager_password }}"
      tls_config:
        ca_file: /opt/prometheus/alertmanager.crt
