global:
  resolve_timeout: 5m
  smtp_smarthost: ${{ alertmanager_smtp_mail_server }}
  smtp_from: cloud-support@stfc.ac.uk
  smtp_require_tls: false

route:
  receiver: 'email-receiver'
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h
  group_by: ['...']

receivers:
  - name: "email-receiver"
    email_configs:
      - send_resolved: false
        to: "cloud-support@stfc.ac.uk"
