---
SLACK_BOT_TOKEN: {{ chatops_slack_bot_token }}
SLACK_SIGNING_SECRET: {{ chatops_slack_signing_secret }}
SCHEDULED_REMINDER_TOKEN: {{ chatops_custom_api_token }}
GITHUB_TOKEN: {{ chatops_github_token }}
GITLAB_TOKEN: {{ chatops_gitlab_token }}
