input {
  beats {
    port => 5044
    host => "0.0.0.0"
    ssl_enabled => true
    ssl_certificate => "/opt/logstash/logstash.crt"
    ssl_key => "/opt/logstash/logstash.key"
  }
}

filter {
  if [service][name] == "chatops" {
    grok {
      match => {
        "message" => [
          "\[%{TIMESTAMP_ISO8601:timestamp}\] %{LOGLEVEL:level} in %{DATA:module}: %{GREEDYDATA:log_message}"
        ]
      }
    }

    date {
      match => ["timestamp", "yyyy-MM-dd HH:mm:ss,SSS"]
      target => "@timestamp"
      remove_field => ["timestamp"]
    }
  }
}

output {
  elasticsearch {
  hosts => ["https://127.0.0.1:9200"]
  user => "elastic"
  password => "{{ elastic_password }}"
  ssl_enabled => true
  ssl_certificate_authorities => "/opt/logstash/elasticsearch.crt"
  }
}
