apiVersion: 1
prune: true
datasources:
# These are our datasources safe for public query
  - name: PowerMetricsPrometheus
    type: prometheus
    uid: "power_metrics_prometheus"
    access: proxy
    url: http://130.246.83.213:9090
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ power_metrics_prometheus_username }}
    jsonData:
      timeout: 120
    secureJsonData:
      basicAuthPassword: {{ power_metrics_prometheus_password }}
  
  - name: CloudInfluxDB
    type: influxdb
    access: proxy
    uid: "prod_cloud_influx"
    user: {{ prod_cloud_influx_username }}
    url: "https://influx2.nubes.rl.ac.uk:8086"
    jsonData:
      tlsSkipVerify: true
      dbName : "cloud"
      httpMode: POST
      timeInterval: "60"
      maxSeries: 200
    secureJsonData:
      password: {{ prod_cloud_influx_password }}

# These datasources should not be queried by the public.
# That's why they are only on the dev instance
{% if inventory_hostname.startswith("dev") %}
  - name: WeeklyReportsInfluxDB
    type: influxdb
    access: proxy
    uid: "weekly-reports"
    url: "https://influx.weekly-reporting.nubes.rl.ac.uk"
    basicAuth: false
    jsonData:
      tlsSkipVerify: true
      defaultBucket: weekly-reporting-bucket
      httpMode: POST
      organization: Cloud
      version: Flux
    secureJsonData:
      token: {{ weekly_reports_token }}

  - name: DevChatOps
    type: prometheus
    uid: "dev-chatops"
    access: proxy
    url: https://prometheus.dev-chatops.nubes.rl.ac.uk
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ dev_chatops_prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ dev_chatops_prometheus_password }}

  - name: ProdChatOps
    type: prometheus
    uid: "prod-chatops"
    access: proxy
    url: https://prometheus.chatops.nubes.rl.ac.uk
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ prod_chatops_prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ prod_chatops_prometheus_password }}
{% endif %}
