apiVersion: 1
prune: true
datasources:
  - name: CloudInfluxDB
    type: influxdb
    access: proxy
    uid: "openstack_grafana"
    user: {{ prod_influx_username }}
    url: "http://influx1.nubes.rl.ac.uk:8086"
    jsonData:
      dbName : "cloud"
      httpMode: POST
      timeInterval: "60"
      maxSeries: 200
    secureJsonData:
      password: {{ prod_influx_password }}

  - name: grafana-power-metrics
    type: grafana-opensearch-datasource
    access: proxy
    uid: "opensearch-grafana"
    url: https://172.16.114.193:9200
    basicAuth: true
    basicAuthUser: admin
    jsonData:
      tlsSkipVerify: true
      database: "[cloud-ipmi-power-]YYYY.MM.DD"
      interval: Daily
      timeField: "@timestamp"
      version: "2.3.0"
      flavor: "opensearch"
    secureJsonData:
      basicAuthPassword: {{ prod_opensearch_password }}

  - name: WeeklyReportsInfluxDB
    type: influxdb
    access: proxy
    uid: "weekly-reports"
    url: "https://influx.weekly-reporting.nubes.rl.ac.uk"
    basicAuth: false
    jsonData:
      tlsSkipVerify: true
      defaultBucket: weekly-reporting-bucket
      httpMode: POST
      organization: Cloud
      version: Flux
    secureJsonData:
      token: {{ weekly_reports_token }}

  - name: WeeklyReportsInfluxDB-DW
    type: influxdb
    access: proxy
    uid: "weekly-reports-dw"
    url: "http://172.16.115.39:8086"
    basicAuth: false
    jsonData:
      httpMode: POST
      organization: cloud
      version: Flux
    secureJsonData:
      token: {{ weekly_reports_token_dw }}

  - name: Meerkat DB
    type: prometheus
    uid: "meerkat-db"
    access: proxy
    url: https://meerkatdb.nubes.rl.ac.uk:8247
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ meerkat_db_username }}
    secureJsonData:
      basicAuthPassword: {{ meerkat_db_password }}

  - name: DevCloudInfluxDB
    type: influxdb
    access: proxy
    uid: "dev_openstack_grafana"
    user: {{ dev_influx_username }}
    url: "http://172.16.110.169:8086"
    jsonData:
      dbName : "cloud"
      httpMode: POST
      timeInterval: "60"
      maxSeries: 200
    secureJsonData:
      password: {{ dev_influx_password }}

  - name: DevChatOps
    type: prometheus
    uid: "dev-chatops"
    access: proxy
    url: https://prometheus.dev-chatops.nubes.rl.ac.uk
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ dev_chatops_prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ dev_chatops_prometheus_password }}

  - name: ProdChatOps
    type: prometheus
    uid: "prod-chatops"
    access: proxy
    url: https://prometheus.cloud-chatops.nubes.rl.ac.uk
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ prod_chatops_prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ prod_chatops_prometheus_password }}
