[server]
# Configure server settings
domain = {{ inventory_hostname }}
root_url = https://{{ inventory_hostname }}:443/
http_addr = 127.0.0.1
protocol = http
http_port = 3000

[auth.generic_oauth]
# Configure Iris IAM log in
enabled = true
name = "IRIS IAM"
client_id = {{ client_id }}
client_secret = {{ client_secret }}
scopes = "openid profile email"
auth_url = https://iris-iam.stfc.ac.uk/authorize
token_url = https://iris-iam.stfc.ac.uk/token
api_url = https://iris-iam.stfc.ac.uk/userinfo
groups_attribute_path = groups[*]
allowed_groups = "stfc-cloud/team,stfc-cloud/admins"

# Only apply role changes on dev so we can edit datasources and dashboards before pushing changes to prod.
{% if inventory_hostname.startswith("dev") %}
role_attribute_path=contains(groups[*], 'stfc-cloud/admins') && 'Admin' || contains(groups[*], 'stfc-cloud/team') && 'Editor' || 'Viewer'
{% else %}
# Keep role for all users as Viewer on production.
role_attribute_path='Viewer'
{% endif %}

[log]
# Raise the log level as the default is "info"
log_level = critical

[security]
admin_password="{{ grafana_admin_password }}"
