apiVersion: 1
prune: true
datasources:
  - name: Prometheus
    type: prometheus
    uid: "prometheus"
    access: proxy
    url: https://prometheus.{{ domain }}
    isDefault: false
    basicAuth: true
    basicAuthUser: {{ prometheus_username }}
    secureJsonData:
      basicAuthPassword: {{ prometheus_password }}
