[server]
# Configure server settings
domain = grafana.{{ domain }}
root_url = https://grafana.{{ domain }}:443/
http_addr = 127.0.0.1
protocol = https
http_port = 3000
cert_file = /etc/grafana/grafana.crt
cert_key = /etc/grafana/grafana.key

[auth.generic_oauth]
# Configure Iris IAM log in
enabled = true
name = "IRIS IAM"
client_id = {{ grafana_client_id }}
client_secret = {{ grafana_client_secret }}
scopes = "openid profile email"
auth_url = https://iris-iam.stfc.ac.uk/authorize
token_url = https://iris-iam.stfc.ac.uk/token
api_url = https://iris-iam.stfc.ac.uk/userinfo
groups_attribute_path = groups[*]
allowed_groups = "stfc-cloud/team,stfc-cloud/admins"

[log]
# Raise the log level as the default is "info"
log_level = critical

[security]
admin_password="{{ grafana_admin_password }}"
