name: Linting

on:
  push:
    branches:
      - master
    paths:
      - "chatops_deployment/**"
      - ".github/workflows/chatops.yaml"
  pull_request:
    paths:
      - "chatops_deployment/**"
      - ".github/workflows/chatops.yaml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Check Terraform
        run: |
          sudo snap install terraform --classic
          cd chatops_deployment/terraform
          touch bastion-key.pub
          terraform init
          terraform validate
          cd ../..

      - name: Check Ansible
        run: |
          cd chatops_deployment
          pip install -r ansible/requirements.txt
          ansible-galaxy install -r ansible/requirements.yml  
          ansible-lint --project-dir ansible
