name: Pynetbox Data Uploader Tests

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - "Pynetbox_Data_Uploader/**"
      - ".github/workflows/Pynetbox.yaml"

jobs:
  test_and_lint:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version: ["3.x"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r Pynetbox_Data_Uploader/requirements.txt

      - name: Run tests
        run: cd Pynetbox_Data_Uploader && python3 -m pytest .

      - name: Analyse with pylint
        run: |
         cd Pynetbox_Data_Uploader && pylint $(git ls-files '*.py') --rcfile=.pylintrc

      - name: Run tests and collect coverage
        run: cd Pynetbox_Data_Uploader && python3 -m pytest --cov-report xml:coverage.xml --cov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./Pynetbox_Data_Uploader/coverage.xml

